body{
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.container{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    box-sizing: border-box;
    width: 425px;
    background-color: #525659;
    padding: 5px;
}

.operator {
    background-color: #8d91e7;
}

.result {
    background-color: #DDE320;
}

.clear {
    background-color: #D93423;
}

button {
    width: 100px;
    height: 100px;
    font-size: 35px;
    border-radius: 10px;
}

.display{
    flex-grow: 1;
    width: 100%;
    height: 100px;
    text-align: end;
    font-size: 50px;
    line-height: 100px;
    background-color: #83b07e;
}