body{
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.container{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    box-sizing: border-box;
    width: 425px;
    background-color: rgb(142, 216, 204);
    padding: 5px;
}

button {
    width: 100px;
    height: 100px;
    font-size: 35px;
}

.display{
    flex-grow: 1;
    width: 100%;
    height: 100px;
    text-align: end;
    font-size: 50px;
    line-height: 100px;
}